.video-iframe {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  background-color: #000;
}

.video-iframe__embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-iframe__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-iframe__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  border: none;
  background-color: transparent;
  transform: translate(
    -50%,
    -50%
  );
  padding: 0;
  outline: none;

}

.video-iframe__block {
  cursor: pointer;
}

.video-iframe__icon {
  transition: 0.5s;
  cursor: pointer;
  width: 64px;
  height: 64px;
  transition: all 0.5s;
}

.video-iframe__icon-circle {
  fill: var(--color-bg);
  width: 64px;
  height: 64px;
  transition: all 0.5s;
}

.video-iframe__icon-triangle {
  fill: var(--color-carbon);
  transition: all 0.5s;
}

.video-iframe__block:hover .video-iframe__icon-circle{
  fill: var(--color-carbon);
}

.video-iframe__block:hover .video-iframe__icon-triangle{
  fill: var(--color-bg);
}

.video-iframe__block:active .video-iframe__icon{
  transform: scale(1.4);
}