.about {
    background-color: var(--color-accent);
    padding: 80px 0 120px 0;
}

.about__container {
    max-width: 720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.about__content {
    max-width: 510px;
    padding-left: 60px;
}