.main-title {
  max-width: 450px;
  font-family: var(--font-headlines-family);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: var(--font-headline-1-size);
  line-height: var(--font-headline-1-height);
  letter-spacing: var(--font-headlines-letter-spacing);
  color: var(--color-carbon);
}
