.big-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  border-left: 1px solid var(--color-carbon);
  border-bottom: 1px solid var(--color-carbon);
  width: 154px;
  height: 31px;
  font-family: "FormularLight";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  text-align: left;
  color: var(--color-carbon);
  position: relative;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.5s;
  z-index: 1;
}

.big-button__arrow-span {
  position: absolute;
  left: 0;
  transition: all 0.5s;
}

.big-button::before {
  display: block;
  position: absolute;
  top: 0;
  left: -0.0625rem;
  height: calc(100% + 0.0625rem);
  width: 0px;
  z-index: -1;
  content: "";
  color: var(--color-white);
  background: var(--color-carbon);
  transition: all 0.5s;
}

.big-button:hover {
  background-color: transparent;
  color: var(--color-white);
}

.big-button:hover:before {
  right: auto;
  width: calc(100% + 0.0625rem);
}

.big-button:hover .big-button__arrow {
  fill: var(--color-white);
}
.big-button:active {
  transform: scale(1.4);
}

.big-button__text {
  position: absolute;
  left: 29px;
}
