.main-menu-li-social {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

@media screen and (max-width: 1250px) {
    .main-menu-li-social {
        gap: 8px;
    }
}

@media screen and (max-width: 1000px) {
    .main-menu-li-social {
        gap: 6px;
    }
}