.support-link-text {
    font-size: 14px;
    line-height: 17px;
    color: var(--color-carbon);
}

@media screen and (max-width: 1250px) {
    .support-link-text {
        font-size: 10px;
        line-height: 14px;
    }
}

@media screen and (max-width: 900px) {
    .support-link-text {
        font-size: 9px;
        line-height: 14px;
    }
}